header ul {
  list-style-type: none;
   overflow: hidden;
   background-color: gray;
}
header li {
  float: left;
  
}
header li a{
    padding: 14px;
    color: white;
    text-decoration: none;
    background-size: contain;
}
header li a:hover{
    background-color: green;
    background-image: url("https://avatars0.githubusercontent.com/u/157258?v=4&s=400")
}
footer{
    background-color: gray;
    color: white;
}
body {
    margin: 0;
}
#body {
    margin: 10px;
}
